.clear-button {
    display: flex;
    height: 4em;
    flex: 1;
    outline: 1px solid #888;
    justify-content: center;
    align-items: center;
    background-color:  #c5c3cd;
    font-size: 1.4em;
    font-weight: lighter;
}